* {
    box-sizing:border-box;
}
body, html {
    margin:0;
    padding:0;
    min-height:100%;
}
body {
    background:linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
}
.card {
    background:#fff;
    border-radius:5px;
    width:100%;
    height:100%;
    font-family:'Segoe UI', sans-serif;
    padding:20px;
}
.card .close-icon {
    float:right;
    width:20px;
    height:20px;
    position:relative;
    cursor:pointer;
}
.card .close-icon:before {
    content:'';
    display:block;
    width:25px;
    height:3px;
    background:#bbb;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(45deg);
}
.card .close-icon:after {
    content:'';
    display:block;
    width:25px;
    height:3px;
    background:#bbb;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}
.card h2 {
    color:#242424;
    margin-top:0;
    margin-bottom:10px;
}
.titlebar {
    -webkit-app-region:drag;
    position:absolute;
    z-index:2;
    height:32px;
    width:100%;
    top:0;
    left:0;
    cursor:default !important;
}
.titlebar .win-buttons {
    -webkit-app-region:no-drag;
    float:right;
    height:100%;
    cursor:pointer;
}
.titlebar .win-button {
    float:left;
    width:46px;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s all;
}
.titlebar .win-button:hover {
    background:rgba(255, 255, 255, 0.2);
}
.titlebar .close-button:hover {
    background:#EB1D25;
}
.titlebar .close-icon {
    width:11px;
    height:11px;
    background:url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEwLDAuNTMgOS40NywwIDUsNC40NyAwLjUzLDAgMCwwLjUzIDQuNDcsNSAwLDkuNDcgMC41MywxMCA1LDUuNTMgOS40NywxMCAxMCw5LjQ3IDUuNTMsNSAiLz4KPC9zdmc+Cg==") no-repeat center center;
}
.titlebar .max-icon {
    width:11px;
    height:11px;
    background:url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMCwwdjEwaDEwVjBIMHogTTkuMjUsOS4yNWgtOC41di04LjVoOC41VjkuMjV6Ii8+Cjwvc3ZnPg==") no-repeat center center;
}
.titlebar .min-icon {
    width:11px;
    height:11px;
    background:url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cmVjdCB5PSI0LjYyNSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEwIiBoZWlnaHQ9IjAuNzUiLz4KPC9zdmc+") no-repeat center center;
}
.content {
    width:100%;
    height:100%;
}
/* Log */
.log-container {
    position:absolute;
    left:0;
    top:32px;
    width:250px;
    background:#fff;
    border-right:1px solid #666;
    bottom:60px;
}
/* /Log */

/* Lists */
.lists {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display:flex;
}
.droplist {
    flex:1;
    color:#fff;
    height:60px;
    font-family:'Segoe UI', sans-serif;
    padding:12px;
    display:flex;
    flex-flow:column;
    cursor:pointer;
    position:relative;
    transition:0.3s all;
    border-right:1px solid rgba(255, 255, 255, 0.25);
}
.droplist:last-child {
    border-right:0;
}
.droplist:hover {
    background:rgba(255, 255, 255, 0.2);
}
.droplist:active {
    background:rgba(0, 0, 0, 0.2);
}
.droplist:after {
    content:'';
    position:absolute;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    border-bottom:5px solid #fff;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}
.droplist .tag {
    font-size:11px;
    opacity:0.5;
}
.droplist .title {
    font-size:14px;
    font-weight:500;
}
/* /Lists */

/* Button */
.button-container {
    background:rgba(0, 0, 0, 0.7);
    position:absolute;
    right:0;
    top:32px;
    left:250px;
    bottom:60px;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
}
@keyframes commit {
    0% { width:100%; height:100%;opacity:0.0; }
    30% { opacity:0.3; }
    100% { width:calc(100% + 30px); height:calc(100% + 30px); left:-20px; top:-20px; opacity:0;}
}
.button {
    position:relative;
    background:linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    border-radius:50%;
    width:200px;
    height:200px;
    line-height:190px;
    color:#fff;
    font-family:'Segoe UI', sans-serif;
    font-weight:600;
    font-size:32px;
    transition:0.3s all;
    cursor:pointer;
}
.button:before {
    content:'Commit';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    transition:0.3s all;
}
.button:hover:before {
    background:rgba(255, 255, 255, 0.2);
}
.button:active:before {
    background:rgba(0, 0, 0, 0.2);
}
.button:after {
    content:'';
    display:block;
    position:absolute;
    top:-5px;
    left:-5px;
    width:100%;
    height:100%;
    border:5px solid #fff;
    border-radius:50%;
    opacity:0;
}
.button.pushed {
    pointer-events:none;
}
.button.pushed:after {
    animation-name:commit;
    animation-duration:0.8s;
}
/* /Button */

/* Repository */
.repo-container {
    position:absolute;
    right:0;
    top:32px;
    left:250px;
    bottom:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}
.searcher {
    display:flex;
}
.searcher .input {
    flex:1;
    font-family:'Segoe UI', sans-serif;
    outline:0;
    border:1px solid #ddd;
    border-radius:10px 0 0 10px;
    font-size:16px;
    padding:5px 12px;
}
.searcher .hidden-input {
    display:none;
}
.searcher .search-button {
    background:rgba(152,68,183,1);
    border:0;
    border-radius:0 10px 10px 0;
    padding:5px 20px;
    color:#fff;
    font-family:'Segoe UI', sans-serif;
    font-size:16px;
    cursor:pointer;
    outline:0;
    transition:0.3s all;
}
.searcher .search-button:hover {
    background:rgba(255,53,127,1);
}
.repo-list {
    height:255px;
    overflow:auto;
}
.repo-list .repo-item {
    padding:10px 10px 12px 0;
    border-bottom:1px solid #ddd;
}
.repo-list .repo-item h4 {
    font-size:14px;
    margin:0;
    font-weight:500;
    color:#242424;
}
.repo-list .repo-item p {
    font-size:12px;
    margin:0;
    color:#999;
}
/* /Repository */